<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name = "Verify ebay.com" parallel="tests" thread-count="2">

    <test name = "ChromeTest - Home page tests" parallel="methods" thread-count="2">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name = "com.solvd.ebayweb.HomePageTest" />
        </classes>
    </test>
<!--    <test name = "ChromeTest - Search test" parallel="methods" thread-count="4">-->
<!--        <parameter name="browser" value="chrome"/>-->
<!--        <classes>-->
<!--            <class name = "com.solvd.ebayweb.HomePageTest" />-->
<!--        </classes>-->
<!--    </test>-->
<!--    <test name = "FirefoxTest - Home page tests" parallel="methods" thread-count="2">-->
<!--        <parameter name="browser" value="firefox"/>-->
<!--        <classes>-->
<!--            <class name = "com.solvd.ebayweb.HomePageTest" />-->
<!--        </classes>-->
<!--    </test>-->
<!--    <test name = "FirefoxTest - Search test" parallel="methods" thread-count="4">-->
<!--        <parameter name="browser" value="firefox"/>-->
<!--        <classes>-->
<!--            <class name = "com.solvd.eshop.SearchTest" />-->
<!--        </classes>-->
<!--    </test>-->

</suite>